body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #8e9eab; /* fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: moveBackground 10s ease-in-out infinite alternate;
    background-size: 400% 400%;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu ul li a:hover {
    color: #43C6AC;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.search-container input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-button {
    background-color: #43C6AC;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #191654;
}

.carrito-icon img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.panel-imagen {
    text-align: center;
    margin: 20px 0;
}

.panel-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 200px;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3 {
    font-size: 18px;
    color: #191654;
    margin: 10px 0 5px;
}

.producto p {
    font-size: 16px;
    color: #43C6AC;
}

.agregar-al-carrito {
    background-color: #43C6AC;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.agregar-al-carrito:hover {
    background-color: #191654;
}

#carrito-items {
    list-style-type: none;
    padding: 0;
}

#carrito-items li {
    padding: 5px 0;
}

#total {
    font-size: 18px;
    color: #191654;
    font-weight: bold;
}
